<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
  <meta charset="UTF-8">
  <title>ngMadLibs</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body ng-controller="Main as vm">
<div class="container">
  <div class="row">
    <div class="col-sm-3 left-cell">
      <img ng-src="assets/images/mad-lib-happy-face.png" alt="Happy Face" class="img-responsive center-block face"/>
    </div>
    <div class="col-sm-9">
      <img ng-src="assets/images/ng-mad-libs-logo.png" alt="Logo" class="img-responsive center-block logo"/>

      <div class="title">Automate This!</div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 words">
      <form>
        <p>Provide the following words:</p>
        <div class="form-group col-sm-12">
          <label class="control-label" for="gender">Gender</label>
          <input type="text" class="form-control" id="gender" placeholder="Gender"
                 ng-model="vm.gender">
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="sr-only" for="maleName">Male name</label>
            <input type="text" class="form-control" id="maleName" placeholder="Male name"
                   ng-model="vm.maleName">
          </div>
          <div class="form-group">
            <label class="sr-only" for="jobTitle">Job title</label>
            <input type="text" class="form-control" id="jobTitle" placeholder="Job title"
                   ng-model="vm.jobTitle">
          </div>
          <div class="form-group">
            <label class="sr-only" for="tediousTask">Tedious task</label>
            <input type="text" class="form-control" id="tediousTask" placeholder="Tedious task"
                   ng-model="vm.tediousTask">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="sr-only" for="dirtyTask">Dirty task</label>
            <input type="text" class="form-control" id="dirtyTask" placeholder="Dirty task"
                   ng-model="vm.dirtyTask">
          </div>
          <div class="form-group">
            <label class="sr-only" for="celebrity">Celebrity</label>
            <input type="text" class="form-control" id="celebrity" placeholder="Celebrity"
                   ng-model="vm.celebrity">
          </div>
          <div class="form-group">
            <label class="sr-only" for="uselessSkill">Useless Skill</label>
            <input type="text" class="form-control" id="uselessSkill" placeholder="Useless Skill"
                   ng-model="vm.uselessSkill">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label class="sr-only" for="obnoxiousCelebrity">Obnoxious celebrity</label>
            <input type="text" class="form-control" id="obnoxiousCelebrity" placeholder="Obnoxious celebrity"
                   ng-model="vm.obnoxiousCelebrity">
          </div>
          <div class="form-group">
            <label class="sr-only" for="hugeNumber">Huge number</label>
            <input type="text" class="form-control" id="hugeNumber" placeholder="Huge number"
                   ng-model="vm.hugeNumber">
          </div>
          <div class="form-group">
            <label class="sr-only" for="adjective">Adjective</label>
            <input type="text" class="form-control" id="adjective" placeholder="Adjective"
                   ng-model="vm.adjective">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 words">
      <p>
        <span class="word">{{vm.maleName}}</span> was a <span class="word">{{vm.jobTitle}}</span> who loved technology.
        Although she loved parts of her job, she absolutely
        hated <span class="word">{{vm.tediousTask}}</span> and <span class="word">{{vm.dirtyTask}}</span>.
        So, <span class="word">{{vm.maleName}}</span> met with her life mentor <span class="word">{{vm.celebrity}}</span>
        who told
        her to learn how to <span class="word">{{vm.uselessSkill}}</span> with Thinkful. Thinkful didn't
        offer a course on <span class="word">{{vm.uselessSkill}}</span> so
        she studied programming instead.
      </p>

      <p>
        What a great decision! With her new skills, <span class="word">{{vm.maleName}}</span> built a(n)
        <span class="word">{{vm.adjective}}</span> robot named
        {{obnoxiuousCelebrity}} that not only loved <span class="word">{{vm.dirtyTask}}</span> but did it
        <span class="word">{{vm.hugeNumber}}</span> faster.
      </p>
    </div>
  </div>

</div>

<script src="bower_components/angular/angular.js"></script>
<script src="app.js"></script>
</body>
</html>