<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
  <meta charset="UTF-8">
  <title>ngMadLibs</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link rel="stylesheet" href="assets/css/style.css"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body ng-controller="Main as vm">
<div class="container">
  <div class="row">
    <div class="col-sm-3 left-cell">
      <img ng-src="assets/images/mad-lib-happy-face.png" alt="Happy Face" class="img-responsive center-block face"/>
    </div>
    <div class="col-sm-9">
      <img ng-src="assets/images/ng-mad-libs-logo.png" alt="Logo" class="img-responsive center-block logo"/>

      <div class="title">Automate This!</div>
    </div>
  </div>
  <div class="row">

    <!--BEGIN Words Form-->
    <div class="col-sm-12 words" ng-show="vm.displayForm">
      <form name="wordsForm" novalidate ng-submit="vm.generateMadLib()">
        <p>Provide the following words:</p>

        <div class="form-group form-group-lg col-sm-12">
          <label class="radio-inline">
            <input type="radio" name="gender" id="male" ng-model="vm.gender" ng-value="vm.male" checked> Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" id="female" ng-model="vm.gender" ng-value="vm.female"> Female
          </label>
        </div>
        <div class="col-sm-4">
          <div class="form-group form-group-lg"
               ng-class="{'has-error has-feedback' : vm.isInvalid('name')}">
            <input type="text" class="form-control input-lg" name="name" placeholder="Name"
                   ng-model="vm.name" required>
            <span ng-if="vm.isInvalid('name')"
                  class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span ng-if="vm.hasError('name', 'required')" class="help-block error-block">Required field!</span>
          </div>
          <div class="form-group form-group-lg"
               ng-class="{'has-error has-feedback' : vm.isInvalid('jobTitle')}">
            <input type="text" class="form-control input-lg" name="jobTitle" placeholder="Job title"
                   ng-model="vm.jobTitle" required>
            <span ng-if="vm.isInvalid('jobTitle')"
                  class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span ng-if="vm.hasError('jobTitle', 'required')" class="help-block error-block">Required field!</span>
          </div>
          <div class="form-group form-group-lg"
            ng-class="{'has-error has-feedback' : vm.isInvalid('tediousTask')}">
            <input type="text" class="form-control input-lg" name="tediousTask" placeholder="Tedious task"
                   ng-model="vm.tediousTask" required>
            <span ng-if="vm.isInvalid('tediousTask')"
                  class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span ng-if="vm.hasError('tediousTask', 'required')" class="help-block error-block">Required field!</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group form-group-lg"
            ng-class="{'has-error has-feedback' : vm.isInvalid('dirtyTask')}">
            <input type="text" class="form-control input-lg" name="dirtyTask" placeholder="Dirty task"
                   ng-model="vm.dirtyTask" required>
            <span ng-if="vm.isInvalid('dirtyTask')"
                  class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span ng-if="vm.hasError('dirtyTask', 'required')" class="help-block error-block">Required field!</span>
          </div>
          <div class="form-group form-group-lg"
            ng-class="{'has-error has-feedback' : vm.isInvalid('celebrity')}">
            <input type="text" class="form-control input-lg" name="celebrity" placeholder="Celebrity"
                   ng-model="vm.celebrity" required>
            <span ng-if="vm.isInvalid('celebrity')"
                  class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span ng-if="vm.hasError('celebrity', 'required')" class="help-block error-block">Required field!</span>
          </div>
          <div class="form-group form-group-lg"
            ng-class="{'has-error has-feedback' : vm.isInvalid('uselessSkill')}">
            <input type="text" class="form-control input-lg" name="uselessSkill" placeholder="Useless Skill"
                   ng-model="vm.uselessSkill" required>
            <span ng-if="vm.isInvalid('uselessSkill')"
                  class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span ng-if="vm.hasError('uselessSkill', 'required')" class="help-block error-block">Required field!</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group form-group-lg"
            ng-class="{'has-error has-feedback' : vm.isInvalid('obnoxiousCelebrity')}">
            <input type="text" class="form-control input-lg" name="obnoxiousCelebrity" placeholder="Obnoxious celebrity"
                   ng-model="vm.obnoxiousCelebrity" required>
            <span ng-if="vm.isInvalid('obnoxiousCelebrity')"
                  class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span ng-if="vm.hasError('obnoxiousCelebrity', 'required')" class="help-block error-block">Required field!</span>
          </div>
          <div class="form-group form-group-lg"
            ng-class="{'has-error has-feedback' : vm.isInvalid('hugeNumber')}">
            <input type="number" class="form-control input-lg" name="hugeNumber" placeholder="Huge number"
                   ng-model="vm.hugeNumber" required>
            <span ng-if="vm.isInvalid('hugeNumber')"
                  class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span ng-if="vm.hasError('hugeNumber', 'required')" class="help-block error-block">Required field!</span>
            <span ng-if="vm.hasError('hugeNumber', 'number')" class="help-block error-block">Must be a number!</span>
          </div>
          <div class="form-group form-group-lg"
            ng-class="{'has-error has-feedback' : vm.isInvalid('adjective')}">
            <input type="text" class="form-control input-lg" name="adjective" placeholder="Adjective"
                   ng-model="vm.adjective" required>
            <span ng-if="vm.isInvalid('adjective')"
                  class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span ng-if="vm.hasError('adjective', 'required')" class="help-block error-block">Required field!</span>
          </div>
        </div>
        <div class="col-sm-4 col-sm-offset-8">
          <button type="submit" class="btn btn-lg btn-primary pull-right">Generate My Mad Lib</button>
        </div>
      </form>
    </div>
    <!--END Words Form-->

    <!--BEGIN Words Text-->
    <div class="col-sm-12 words" ng-hide="vm.displayForm">
      <div class="col-sm-12">
        <p>
          <span class="word">{{vm.name}}</span> was a <span class="word">{{vm.jobTitle}}</span> who loved technology.
          Although {{vm.gender.he}} loved parts of {{vm.gender.him}} job, {{vm.gender.he}} absolutely
          hated <span class="word">{{vm.tediousTask}}</span> and <span class="word">{{vm.dirtyTask}}</span>.
          So, <span class="word">{{vm.name}}</span> met with {{vm.gender.his}} life mentor <span
                class="word">{{vm.celebrity}}</span>
          who told
          {{vm.gender.him}} to learn how to <span class="word">{{vm.uselessSkill}}</span> with Thinkful. Thinkful didn't
          offer a course on <span class="word">{{vm.uselessSkill}}</span> so
          {{vm.gender.he}} studied programming instead.
        </p>
      </div>

      <div class="col-sm-12">
        <p>
          What a great decision! With {{vm.gender.his}} new skills, <span class="word">{{vm.name}}</span> built a(n)
          <span class="word">{{vm.adjective}}</span> robot named
          {{obnoxiuousCelebrity}} that not only loved <span class="word">{{vm.dirtyTask}}</span> but did it
          <span class="word">{{vm.hugeNumber}}</span> faster.
        </p>
      </div>

      <div class="col-sm-4 col-sm-offset-8">
        <button type="button" ng-click="vm.reset()" class="btn btn-lg btn-primary pull-right">Start Over</button>
      </div>
    </div>
    <!--END Words Text-->

  </div>
</div>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="app.js"></script>
</body>
</html>