/*GENERAL*/
body {
  background-color: white;
  font-size: large;
}

.container {
  max-width: 70%;
  margin-top: 4em;
  min-height: 485px;
}

.row {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;}

/*HEADER - FIRST ROW*/
.header {
  background-color: #ffffff;
  z-index: 1000000;
  border-top: 1px solid black;
}

.left-cell {
  border-right: 1px solid black;
}

.face {
  max-width: 60%;
  padding: 0.8em 0.5em;
}

.logo {
  max-width: 35%;
}

.title {
  text-align: center;
  font-size: 4vw;
  margin-top: -0.4em;
}

/*CONTENT - SECOND ROW*/
.content {
  position: relative;
}

.words {
  padding: 2em;
  height: 400px;
}

/* transition */
/*************/

/*form*/
.form.ng-hide-add { /* Start to disappear */
  -webkit-transition: 0.1s all linear;
  opacity: 1;
}

.form.ng-hide-add.ng.hide-add-active {
  opacity: 0;
}

/*text*/
.text {
  z-index: 100000;
  background-color: white;
  position: absolute;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-left: -1px;
  width: 100.3%;
}


.text.ng-hide-remove { /* Start to be displayed */
  -webkit-animation: drop 1s ease-in;
}

@-webkit-keyframes drop {
  from { margin-top: -600px;}
  50% { margin-top: 0px;}
  70% { margin-top: -50px;}
  85% { margin-top: -20px;}
  100% { margin-top: 0px; }
}

.word {
  text-decoration: underline;
}

.error-block {
  margin-top: -17px;
  margin-left: 17px;
  margin-bottom: 0px;
  line-height: 1.5em;
  font-size: small;
}